{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="{% static 'styles4.css' %}">

</head>
<body>
    <div class="container">
        <h1>Cadastrar Usuário</h1>
        
        {% if messages %}
            {% for message in messages %}
                <div class="success-msg">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'cadastro' %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">Nome</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>

            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">Sobrenome</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">E-mail</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Senha</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirmar Senha</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

            <button type="submit">Cadastrar</button>

            <div class="login-link">
                Já tem uma conta? <a href="{% url 'login' %}">Faça login</a>
            </div>
        </form>
    </div>
</body>
</html>